.tStruct{
	border-collapse: collapse;
	margin: auto;
}

th{
	color: navy;
	font-size: 48px;
	margin: 0 auto;
	padding: 10px 10px 40px;
	text-align: center;
}

tbody tr:nth-child(1), tr:nth-child(2){
	border-bottom: 2px solid black;

}

td:nth-child(2n), td:nth-child(0n+1){
	border-right: 2px solid black;
}

td{
	font-size: 36px;
	height: 100px;
	width: 100px;
	padding: 0;
	text-align: center;
}
